<html lang="ur" dir="rtl">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-C23R2VBPT1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-C23R2VBPT1");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ميقات الصلاة</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Harmattan&family=Poppins&family=Gulzar&family=IBM+Plex+Mono&family=Noto+Nastaliq+Urdu&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />
    <link
      rel="icon"
      href="../public/meekat-logo-32px-min.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="../public/meekat-logo-16px-min.png"
      sizes="16x16"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/meekat-logo-180px-min.png"
    />
    <link rel="manifest" href="manifest.json" />
  </head>

  <body>
    <div class="container">
      <h1>ميقات الصلاة</h1>
      <div id="notify_header">
        <div class="notify_img_container1" id="notify_btn">
          <img src="./notify.svg" alt="bell icon" />
        </div>
        <div class="notify_img_container1" id="disable_notification_btn">
          <img src="./disable_notify.svg" alt="cross bell icon" />
        </div>

        <div class="notify_img_container2 hidden" id="install_btn">
          <img src="./install.svg" alt="install icon" />
        </div>
      </div>
      <p class="place-name">
        برائے<%= place %><span>۔ باقی علاقوں کے لئے نیچے دیکھیں</span>
      </p>
      <p class="ayah">
        إِنَّ الصَّلَاةَ كَانَتْ عَلَى الْمُؤْمِنِينَ كِتَابًا مَّوْقُوتًا
      </p>

      <div class="rows hl">
        <p class="amiri_text">شروع فجر</p>
        <p class="time"><%= fajrStart %></p>
        <div class="ramzan">
          <img src="/sehri.png" alt="">
        </div>
      </div>
      <div class="rows">
        <p class="amiri_text">شروع ظهر</p>
        <p class="time"><%= zuhrStart%></p>
      </div>
      <div class="rows">
        <p class="amiri_text">شروع عصر</p>
        <p class="time"><%= asrStart %></p>
      </div>
      <div class="rows hl">
        <p class="amiri_text">شروع مغرب</p>
        <p class="time"><%= magribStart %></p>
        <div class="ramzan">
          <img src="/iftari.png" alt="">
        </div>
      </div>
      <div class="rows">
        <p class="amiri_text">شروع عشاء</p>
        <p class="time"><%= ishaStart %></p>
      </div>
      <div class="rows">
        <p class="amiri_text">طلوع آفتاب</p>
        <p class="time"><%= tuluAftab%></p>
      </div>
      <div class="rows">
        <p class="amiri_text">نصف النهار</p>
        <p class="time"><%= nisfNahar %></p>
      </div>
      <div class="rows">
        <p class="amiri_text">تاریخ شمسی</p>
        <p class="date urdu"><%= urduDate %></p>
      </div>
      <div class="rows">
        <p class="amiri_text">تاریخ قمری</p>
        <p class="date arabic"><%= islamicDate %></p>
      </div>
    </div>

    <div class="different-places">
      <div>
        <form action="/IslamAbad" method="post">
          <button class="places">IslamAbad</button>
        </form>
        <a href="https://t.me/meekat_isl_tra"></a>
      </div>

      <div>
        <form action="/Pulwama" method="post">
          <button class="places">Pulwama</button>
        </form>
        <a href="https://t.me/meekat_pul_kul_har"></a>
      </div>

      <div>
        <form action="/Tral" method="post">
          <button class="places">Tral</button>
        </form>
        <a href="https://t.me/meekat_isl_tra"></a>
      </div>

      <div>
        <form action="/Kulgam" method="post">
          <button class="places">Kulgam</button>
        </form>
        <a href="https://t.me/meekat_pul_kul_har"></a>
      </div>

      <div>
        <form action="/Leh" method="post">
          <button class="places">Leh</button>
        </form>
        <a href="https://t.me/meekat_leh"></a>
      </div>

      <div>
        <form action="/Harmukh" method="post">
          <button class="places">Harmukh</button>
        </form>
        <a href="https://t.me/meekat_pul_kul_har"></a>
      </div>

      <div>
        <form action="/Pahalgam" method="post">
          <button class="places">Pahalgam</button>
        </form>
        <a href="https://t.me/meekat_pahalgam"></a>
      </div>

      <div>
        <form action="/Uri" method="post">
          <button class="places">Uri</button>
        </form>
        <a href="https://t.me/meekat_uri"></a>
      </div>

      <div>
        <form action="/Baramulla" method="post">
          <button class="places">Baramulla</button>
        </form>
        <a href="https://t.me/meekat_bar_tan_sop"></a>
      </div>

      <div>
        <form action="/Bandipora" method="post">
          <button class="places">Bandipora</button>
        </form>
        <a href="https://t.me/meekat_ban_pun"></a>
      </div>

      <div>
        <form action="/Teetwal" method="post">
          <button class="places">Teetwal</button>
        </form>
        <a href="https://t.me/meekat_tee_kar"></a>
      </div>

      <div>
        <form action="/Tangmarg" method="post">
          <button class="places">Tangmarg</button>
        </form>
        <a href="https://t.me/meekat_bar_tan_sop"></a>
      </div>

      <div>
        <form action="/Sopore" method="post">
          <button class="places">Sopore</button>
        </form>
        <a href="https://t.me/meekat_bar_tan_sop"></a>
      </div>

      <div>
        <form action="/Karna" method="post">
          <button class="places">Karna</button>
        </form>
        <a href="https://t.me/meekat_tee_kar"></a>
      </div>

      <div>
        <form action="/Punch" method="post">
          <button class="places">Punch</button>
        </form>
        <a href="https://t.me/meekat_ban_pun"></a>
      </div>

      <div>
        <form action="/Srinagar" method="post">
          <button class="places">Srinagar</button>
        </form>
        <a href="https://t.me/meekat_srinagar"></a>
      </div>
    </div>

    <div class="footer">
      <div class="creator">
        <a href="https://mohammadazeem.in">mohammadazeem.in</a>
      </div>
    </div>
    <script src="./install.js"></script>
    <script>
 
      const notifyElements = document.querySelectorAll("#notify_header div");

      notifyElements.forEach((element) => {
        element.addEventListener("click", () => {
            element.classList.add('clicked')
        })
      })



const notificationButton = document.getElementById("notify_btn");
const disableNotificationBtn = document.getElementById("disable_notification_btn");
  
  if (localStorage.getItem('notificationEnabled') === 'true') {
    notificationButton.classList.add("hidden");
    disableNotificationBtn.classList.remove("hidden");
  } else {
    notificationButton.classList.remove("hidden");
    disableNotificationBtn.classList.add("hidden");
  }

  notificationButton.addEventListener("click", () => {
    // fetch('/enableNotification', {
    //   method: 'GET',
    // })
    window.location.href = '/enableNotification';
  })
    </script>
   
<script src="./removeNotification.js"></script>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker
            .register("./firebase-messaging-sw.js")
            .catch((error) => {
              console.error("Service Worker registration failed:", error);
            });
        navigator.serviceWorker
            .register("./firebase-messaging-sw.js", {
              scope: "./firebase-cloud-messaging-push-scope",
            })
            .catch((error) => {
              console.error("Service Worker registration failed:", error);
            });

        });


      }
    </script>
    <script type="module" src="./foregroundNotification.js" ></script>
    
  </body>
</html>
